/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
section {
  color: #fff;
  background-color: #f5f1f1b0;
  height: 100vh;  
}
.navBg {
  background-color: #272727;
}
#titulo-formulario,#boleta{
  color: #000;
}

#formulario{
  color: #000;
  margin:2em;
}
#order{
  color: #000;
}
#resultado{
  color: #4b4949;
}
#boleta{
  padding:2em;
}
#titulo-ventana-autos{
  color: #000;
}